# PROJECT: dolphin-android
# VERSION: 1.0.0
# Author: wangxiang4
# 更多配置请参考官网:
# https://projectlombok.org/features/configurations
# https://icode.best/i/91657945474735
# 查看配置执行命令: java -jar lombok-1.18.6.jar config -g --verbose

# 声明该配置文件是一个根配置文件,从该配置文件所在的目录开始扫描
config.stopBubbling=true

# 默认: false,默认的set方法返回void设置为true返回调用对象本身
lombok.accessors.chain=true

# 默认: true,默认的true会让子类对象属性值一致,但其继承的父类对象属性值不一致,在比较的时候会出现比较结果不对的情况
lombok.equalsandhashcode.callsuper=skip
